.box{
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 10000;
    padding: 10px 10px 0 0;
}

.item{
    margin: 0 0 10px 0;
    background: rgb(248, 203, 2);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px;
}

.itemEnter{
    opacity: 0;
}

.itemEnterActive{
    transition: opacity .9s;
    opacity: 1;
}

.itemLeaveActive{
    transition: opacity 1s;
    opacity: 0;
}